/* ================================================== 
html5doctor.com Reset Stylesheet by Richard Clark
modified by Taylor Kearns www.taylorkearns.com
================================================== */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
{ margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; font-weight: normal; font-style: normal; }

section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

    a:active { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }

input, select { vertical-align: middle; }



/* ================================================== 
Main styles
================================================== */

body { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; color: #96907c; }

div#wrapper { margin: 30px; width: 800px; position: relative; }

a { color: #a68e46; text-decoration: underline; }

    a:hover { text-decoration: none; }

h1 { text-indent: -999em; background: url(/images/heading-flickr-memory.png) no-repeat; width: 428px; height: 69px; }

section#photo-well { float: left; width: 480px; height: 480px; margin-top: 20px; position: relative; }

    #photo-well.ajaxing { background: url(/images/ajax-loader.gif) center center no-repeat; }

#photo-well div.tile { width: 75px; height: 75px; overflow: hidden; position: relative; float: left; margin:0 5px 5px 0; }

    #photo-well div.tile img { position: absolute; z-index: 1; }

#photo-well div.mask { position: absolute; z-index: 2; width: 75px; height: 75px; background: #ccc; left: 0; top: 0; }

#photo-well img.ajax-loader { position: absolute; left: 0px; top: 0px; z-index: 3; }

section#score-card { width: 280px; height: 200px; margin: 20px 0 0 500px; -webkit-box-shadow: 3px 3px 10px #ccc; -moz-box-shadow: 3px 3px 10px #ccc; box-shadow: 3px 3px 10px #ccc; text-align: center; }

    #score-card.completed { -webkit-box-shadow: 3px 3px 20px 5px #a68e46; -moz-box-shadow: 3px 3px 20px 5px #a68e46; box-shadow: 3px 3px 20px 5px #a68e46; }
    
    #score-card h2 { font-size: 60px; }

div#tally { font-size: 70px; color: #a68e46; margin-top: 20px; }

section#gallery-selector { margin: 30px 0 0 500px; }

    #gallery-selector h2 { font-size: 30px; margin-bottom: 5px; }
    
    #gallery-selector p { font-size: 12px; }
    
    #gallery-selector a { color: #a68e46; }

form#custom-gallery input { margin-top: 20px; width: 200px; font-size: 10px; }

    #custom-gallery input.button { width: 40px; }

#gallery-selector ul { margin: 10px 0 0 10px; }

#gallery-selector li { color: #a68e46; list-style: square inside; margin-bottom: 5px; }

    #gallery-selector li a { text-decoration: none; }

    #gallery-selector li.selected,
    #gallery-selector li.selected a { color: #8787BA; }
    
div#user-scores-entry {  display: none; clear: both; position: absolute; left: 90px; top: 165px; width: 300px; background: #fff; z-index: 2; border: 1px solid #a68e46; padding: 10px; -webkit-box-shadow: 3px 3px 10px #a68e46; -moz-box-shadow: 3px 3px 10px #a68e46; box-shadow: 3px 3px 10px #a68e46; }    

input#score-submit,
input#score-cancel { border: 1px solid #a68e46; color: #a68e46; background: transparent; font-size: 12px; }

    input#score-submit:hover,
    input#score-cancel:hover { color: #fff; background: #a68e46; }
        
section#scoreboard { width: 190px; position: absolute; left: 820px; top: 89px; }

    #scoreboard h2 { font-size: 18px; text-decoration: underline; margin-bottom: 10px; padding-left: 92px; }
    
    #scoreboard li { list-style: none; font-size: 12px; width: 190px; height: 20px; line-height: 20px; overflow: hidden; float: left; margin-bottom: 5px; }
    
        #scoreboard li span.name { display: block; float: left; width: 134px; text-align: right; padding-right: 5px; border-right: 1px solid; }
        
        #scoreboard li span.score { display: block; float: left; width: 45px; padding-left: 5px; }